# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# IDE / Editor
.vscode/
.idea/

# Data & Cache (PyG cache & large datasets)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/external/*
!data/external/.gitkeep

# Other OS specifics
.DS_Store
Thumbs.db
